{% extends 'base.html' %}

{% block nav %}
<li {% if alllinks %}class="active"{% endif %}>
  <a href="{% url link_list %}">Links</a>
</li>
<li><a href="{% url category_list %}">Tags</a></li>
{% endblock nav %}

{% block content %}
<div class="row-fluid">
  {% for cat in object_list %}
  <a href="{% url category_detail cat.tag %}">{{ cat.name }}</a>
  <br><small>{{ cat.num_links }} link{{ cat.num_links|pluralize }}</small>
  {% if not forloop.last %}<hr style="margin-top:2px;margin-bottom:4px">{% endif %}
  {% endfor %}
{% endblock %}
