{% extends 'base.html' %}

{% block nav %}
<li {% if alllinks %}class="active"{% endif %}>
  <a href="{% url link_list %}">Links</a>
</li>
<li><a href="{% url category_list %}">Tags</a></li>
{% endblock nav %}

{% block content %}
<div class="row-fluid">
  {% for link in object_list %}
  <h4><a href="{{ link.url }}">{{ link.title }}</a></h4>
  {% if link.comment %}
    <p>{{ link.comment }}</p>
  {% endif %}
  <p>
    {% for cat in link.category.all %}
    <a href="/tag/{{ cat.tag }}/">
      <small>{{cat}}</small>
    </a>{% if not forloop.last %},{% endif %}
    {% empty %}
    None
    {% endfor %}
  </p>
  <small>Added {{ link.date_added }}</small>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock %}
