{% extends 'base.html' %}

{% block nav %}
<li {% if alllinks %}class="active"{% endif %}>
  <a href="{% url link_list %}">Links</a>
</li>
<li><a href="{% url category_list %}">Tags</a></li>
{% endblock nav %}

{% block content %}
<div class="row-fluid">
  {% for link in object_list %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  {% if link.comment %}
    - {{ link.comment }}
  {% endif %}
  -
    {% for cat in link.category.all %}
    <a href="/tag/{{ cat.tag }}/">
      <small>{{cat}}</small>
    </a>{% if not forloop.last %},{% endif %}
    {% empty %}
    No tags
    {% endfor %}
    <br><small>Added {{ link.date_added }}</small>
  {% if not forloop.last %}<hr style="margin-top:2px;margin-bottom:4px">{% endif %}
  {% endfor %}
{% endblock %}
